*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
}

html {
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  margin: 0;
  line-height: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

a {
  text-decoration: inherit;
  color: inherit;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

button,
input {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 100%;
  line-height: inherit;
  color: inherit;
}

button {
  text-transform: none;
}

button,
[type='button'],
[type='reset'],
[type='submit'] {
  background-color: transparent;
  background-image: none;
  -webkit-appearance: button;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

button,
[role='button'] {
  cursor: pointer;
}

img,
svg {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}
